@font-face {
    font-family: nimbus;
    src: url(./nimbus-sans-l/NimbusSanL-Reg.otf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: nimbus;
}
.main{
    width: 100%;
}
.nav{
    padding: 20px 10vw;
    display: flex;
    position: relative;
    justify-content: space-between;
    
}
.nleft{
    display: flex;
    gap: 40px;
}
.nav a{
    text-decoration: none;
    color: black;
    font-weight: 200;
    display: inline-block;
}
.nav #centeratag{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
}
.nleft a{
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
}
.nleft a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: black;
    width: 0%;
    transition: all  cubic-bezier(0.55, 0.055, 0.675, 0.19) .5s ;
}
    



.nleft a:hover::after{
    width: 100%;
   
}
.hero{
    width: 100%;
    align-items: center;
    margin-top: 15vw;
    display: flex;
    justify-content: space-between;
    padding: 0px 10vw;
    
}
#sustain #susimagewrapper{
    width: 10vw;
    height: 15vw;
    /* */
    position: relative;
    overflow: hidden;
   
}
#sustain{
    width: 10vw;
   
}
#sustain p{
    text-transform: capitalize;
    font-size: 12px;
    margin: 5px 0px;
    font-weight: 800;
    line-height: 1;
    opacity: .5;
    
}
#susimagewrapper img{
   
   
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}
#ephameral{
    width:30vw ;
    min-height: 42vw;
    
    position: relative;
}
#ephameral .heading{
    position: absolute;
    top: -22%;
    left: -20%;
}
#visit{
    display: flex;
    align-items: center;
    gap:20px
}
#circlev{
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #5e5e5e;
    align-items: center;
}
.visit h3{
    color: #5e5e5e;
}
#ephameral h1{
    font-size: 6vw;
    font-weight: 400;
    letter-spacing: -.4vw;
    line-height:1 ;
   

}
#img{
    
    width: fit-content;
    height: fit-content;
}
#ephameral img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#ephameral p{
   margin-top: 20px;
    font-size: 1.2vw;
    width: 50%;
   
    letter-spacing: -.050vw;

}
#motive{
    padding: 8vw 10vw;
    display: flex;
    justify-content: space-between;
    
    
}
#motive span{
    display: inline-block;
   
    margin: 0 14px;
    margin-bottom: -12.5px;
    background-color: red;
    border-radius: 100px;
}
#motive p{
    line-height: 1.7;
    letter-spacing: -.12vw;

    text-align: right;
    
    font-size: 2VW;
    width: 85%;
}
#one{
    width: 80px;
    height: 50px;
    background-image: url(./bluegirl.jpg);
    background-size: cover;
    background-position: 0% 60%;
}
#twospan{
    width: 120px;
    height: 50px;
    background-image: url(./shaljam.jpg);
    background-size: cover;
    background-position: 0% 48%;
}
#threespan{
    width: 80px;
    height: 50px;
    background-image: url(./grass.jpg);
    background-size: cover;
    background-position: 0% 60%;
}
#pictures{
    margin-top: 8vw;
    padding: 3vw;
    padding-left:  14vw;
    padding-right: 12vw;
    display: flex;
    justify-content: space-between;
    
}
#firstpic{
    width: 17vw;
}
#firstpic h1,#secpic h1{
    letter-spacing: 1;
    font-weight: 100;
    font-size: 2vw;
}
#firstpic p,#secpic p{
    font-size: 1vw;
    margin-top: 10px;
    opacity: .8;
    letter-spacing:-.07vw ;
    line-height: 1;
}
#firstpic #picimg{
    width: 17vw;
    height: 24vw;
    margin-bottom: 10px;
   
}
#picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#secpic #picimg{
    width: 100%;
    height: 37vw;
    margin-bottom: 10px;
   
}
#secpic{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#secpic p{
    width: 50%;
    text-align: right;
}
#banner{
    width: 100%;
    margin-top: 8vw;
    display: flex;
    align-items: center;


}
#bimage{
    width: 65%;
    height: 60vh;
   
}
#bimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 70%;
}
#btext{
    width: 35%;
    padding: 0 3vw;
}
#btext h1{
    font-size: 2.8vw;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -.15vw;
}
#btext p{
    margin-top: 20px;
    width: 60%;
    font-size: 1vw;
}
#future{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    overflow: hidden;

}
#future video{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.2);
}
#ftext{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 999;
    background-color: #fff;
    padding: 1vw 2vw;
    border-radius: 20px;
    
}
#ftext button{
    padding: 1vw 1.3vw;
    font-size: .7vw;
    border-radius:100px ;
    border: 2px solid #c6c6c6;
    font-weight: 700;
    color: #5e5e5e;

}
#ftext h1{
    font-weight: 800;
    font-size: 1.5vw;
}